/Project Quad/Quad/nbproject/private/
/Project Quad/Quad/build/
/Project Quad/Test/dist/
/DBTech/DB Tech/nbproject/private/
/DBTech/DB Tech/build/
/DBTech/DB Tech/dist/
MySQLConnect.java
*/webpages_with_*_threads/